<IfModule mod_rewrite.c>
    RewriteEngine On

    # Evitar reescritura para archivos y directorios reales
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Reescribir todo a index.php (front controller)
    RewriteRule ^ index.php [L]

</IfModule>
